<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{almacen.NombreAlmacen}}">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-text-wrap">
                <h2>Artículo: {{articulo.NombreArticulo}}</h2>
                <p>Precio (Con IVA): {{articulo.PrecioConIva}}</p>
            </ion-item>
            <ion-item>
              Stock calculado: {{almacen.Stock}}
            </ion-item>
            <label class="item item-input item-floating-label">
                <span class="input-label">Stock real</span>
                <input type="text" placeholder="Introduzca el stock real..." ng-model="datos.cantidad">
            </label>                
        </ion-list>
        <button class="button button-block icon-left ion-ios-gear">
            Actualizar stock
        </button>        
    </ion-content>
</ion-view>
