<ion-view view-title="AriGesInv - Configuración">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">URL Servicio API</span>
                <input type="text" placeholder="URL Servicio API" ng-model="config.urlApi" >
            </label>
        </div>
        <button class="button button-block" ng-click="setConfig()">
            Aceptar
        </button>
    </ion-content>
</ion-view>
