<ion-view view-title="AriGesInv - INVENTARIO">
    <ion-content>
        <ion-list>
            <ion-item class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="EAN / UPC artículo" ng-model="buscador.ean">
                </label>
                <button class="button button-small icon-left ion-ios-color-wand">
                    ESCANER
                </button>
            </ion-item>
            <ion-item class="item">
                <button class="button button-block icon-left ion-search" ng-click="getArticulos()">
                    Buscar
                </button>
            </ion-item>
        </ion-list>
        <ion-list ng-show="hayArticulo">
            <ion-item class="item-text-wrap">
                <h2>{{articulo.NombreArticulo}}</h2>
                <p>Precio (Con IVA): {{articulo.PrecioConIva}} €</p>
            </ion-item>
            <ion-item class="item-divider">
                Stock por almacenes
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="almacen in almacenes" type="item-text-wrap" href="#/tab/inventario-detail/{{almacen.CodigoAlmacen}}">
                <h2>{{almacen.NombreAlmacen}}</h2>
                <span class="badge badge-positive">{{almacen.Stock}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
