<ion-view view-title="AriGesInv - LOGIN">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-avatar">
                <img src="/img/ariadna.png">
                <h2>AriGesInv Control Inventario</h2>
                <p>(c) Ariadna Software S.L.</p>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Login</span>
                <input type="text" placeholder="Login">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="Contraseña">
            </label>
        </div>
        <button class="button button-block">
            Entrar
        </button>
    </ion-content>
</ion-view>
